<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
  </compilation>
    
  </system.web>
  <appSettings>
    <!--定义附件保存的根目录-->
    <add key="UploadSavePath" value="imgUploads/"/>
    <add key="UploadSavePath2" value="~/Fore-images/"/>
    <add key="UploadSavePath3" value="~/Fore-images/头像/"/>
    <!--定义允许上传的文件后缀-->
    <add key="UploadFileType" value=".gif|.jpg|.jpe|.jpeg|.png|.bmp"/>
    <!--首页名称-->
    <add key="SystemName" value="UploadFiles"/>
    <!--定义数据库连接语句-->
    <add key="strSqlConn" value="server=.;database=SweetyDB;uid=aa;pwd=123456"/>
  </appSettings>
</configuration>