body 
{
    margin: 0;
    padding: 0;
}

.big-box
{
    padding-top: 150px;
    width: 100%;
    height: 450px;
    margin-top: 50px;
    background-color: #FFB468;
}

.pass
{
    width: 500px;
    height: 300px;
    margin: 0px auto;
    border: 1px dotted #ffffff;
    background-color: #ffffff;
}

.title
{
    width: 500px;
    height: 40px;
    font-size: 26px;
    text-align: center;
    
}

.setPassword
{
    width: 300px;
    margin: 20px 120px;
}